@import 'tailwindcss';
@custom-variant hover (&:hover); /*juste un fix pour tailwind 4 consernant les périphèriques tactiles */

body {
  background: var(--color-background);
  color: var(--color-foreground);
  /*font-family: var(TOCHANGE), sans-serif;*/
}

@theme inline {
  /*Tailwind Theme*/
  --color-background: var(--background);
  --color-foreground: var(--foreground);

  --color-tilescolor: var(--tilescolor);

  --color-tileselected: #41c6db;

  /*--font-TOCHANGE : var(--TOCHANGE);*/
}

/*noinspection CssUnusedSymbol*/
:root {
  --background: #edefef;
  --foreground: #3c3c3a;

  --tilescolor: #e5ebeb;

  /*--TOCHANGE*/
}

/*noinspection CssUnusedSymbol*/
:root.dark {
  --background: #161616;
  --foreground: #f1f1f1;

  --tilescolor: #242422;
}
